<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Mercado Liebre</title>

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />

		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/f112f8c64a.js" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<div class="wrapper">
			<header class="main-header">
				<div class="main-header-top-bar">
					<h1 id="logo">
						<a href="/">
							<img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
						</a>
					</h1>
					<div class="search-container">
						<form id="searchForm" action="/" method="get">
							<input type="text" placeholder="Buscar productos, marcas y más" name="search" required />
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>
					<h2 class="copy-header">
						<i class="fas fa-hand-holding-usd"></i>
						Comprá en cuotas y sin tarjeta de crédito
					</h2>
				</div>
				<nav class="main-navbar">
					<ul class="left-navbar">
						<li><a href="#">Ofertas</a></li>
						<li><a href="#">Tiendas oficiales</a></li>
						<li><a href="#">Vender</a></li>
						<li><a href="#">Ayuda</a></li>
					</ul>
					<ul class="right-navbar">
						<li>
							<a href="/register">Creá tu cuenta <i class="fas fa-user"></i></a>
						</li>
						<li>
							<a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
						</li>
						<li>
							<a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
						</li>
					</ul>
				</nav>
				<div class="burger-menu">
					<i class="fas fa-bars"></i>
				</div>
			</header>

			<section id="ofertas">
				<img src="/images/img-home-banner.jpg" width="360" alt="Ofertas" />
			</section>

			<main>
				<section class="form container">
					<h2>Creá tu cuenta</h2>
					<form id="registerForm" action="/" method="get">
						<div class="form-group">
							<input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario*" minlength="5" required />
						</div>
						<div class="form-group">
							<input type="email" id="email" name="email" placeholder="Correo electrónico*" required />
						</div>
						<div class="form-group">
							<input type="text" id="nombre" name="nombre" placeholder="Nombre*" required />
							<input type="text" id="apellido" name="apellido" placeholder="Apellido*" required />
						</div>
						<div class="form-group date">
							<label for="nacimiento">Fecha de nacimiento</label>
							<input type="date" id="nacimiento" name="nacimiento" />
						</div>
						<div class="form-group">
							<input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" />
						</div>
						<div class="form-group">
							<select id="rol" name="rol" required>
								<option selected disabled>Seleccioná tu perfil</option>
								<option value="1">Comprador</option>
								<option value="2">Vendedor</option>
							</select>
						</div>
						<div class="form-group checkbox">
							<label>Categorías de interés</label>
							<div class="check-item">
								<input type="checkbox" id="electro" name="categorias" value="electro" />
								<label for="electro"> Electro</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="moda" name="categorias" value="moda" />
								<label for="moda"> Moda</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="hogar" name="categorias" value="hogar" />
								<label for="hogar"> Hogar</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="jugueteria" name="categorias" value="jugueteria" />
								<label for="jugueteria"> Juguetería</label>
							</div>
							<div class="check-item">
								<input type="checkbox" id="vida-sana" name="categorias" value="vida-sana" />
								<label for="vida-sana"> Vida sana</label>
							</div>
						</div>
						<div class="form-group file">
							<label for="foto">Subí tu foto</label>
							<input type="file" id="foto" name="foto" />
						</div>
						<div class="form-group">
							<input type="password" id="password1" name="password1" placeholder="Contraseña*" required />
							<input type="password" id="password3" name="password2" placeholder="Confirmar contraseña*" required />
						</div>
						<div class="form-group buttons">
							<button type="submit">Enviar</button>
							<button type="reset" class="reset">Borrar</button>
						</div>
					</form>
				</section>
			</main>

			<footer>
				<section>
					<article>
						<i class="fas fa-credit-card"></i>
						<h3>Pagá con tarjeta o en efectivo</h3>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
					</article>
					<article>
						<i class="fas fa-gift"></i>
						<h3>Envío gratis desde $ 2.500</h3>
						<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
					</article>
					<article>
						<i class="fas fa-user-shield"></i>
						<h3>Seguridad, de principio a fin</h3>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
					</article>
				</section>
				<section id="copyright">
					<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
				</section>
			</footer>
		</div>
	</body>
</html>
